body {
    margin: 0;
    padding: 0;
    background: linear-gradient(9deg, #720eff, #6258f3, #150917, #d683e2, #275ee7);
    background-size: 300% 300%;
    animation: gradient-animation 50s ease infinite;
    color: white;
    font-family: "Poppins", sans-serif;

}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.left {
    font-size: 2.5em;
}

.left a {
    text-decoration: none;
    color: white;
}

.left a:hover {
    color: rgb(176, 114, 239);
    font-size: 1.05em;
}

.right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.right ul li {
    margin-left: 80px;
}

.right ul li a {
    text-decoration: none;
    color: white;
}


.right ul li a:hover {
    color: rgb(176, 114, 239);
    font-size: 1.02em;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
    align-items: center;
}

.firstSection > div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
}

.rightSection img {
    width: 130%;
}


.bg-image {
   
    opacity: 1;
    animation: fadeAnimation 7s ease-in-out infinite;
}

@keyframes fadeAnimation {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

















.name {
    color:black;
}

#element {
    color: black;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
}

main hr {
    border: 0;
    background: rgb(186, 130, 243);
    height: 1.2px;
    margin: 60px 84px;
}

.secondSection h1 {
    font-size: 1.9rem;
    height: 80vh;
}

.text-grey {
    color: black;
}
.social-links ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}